@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    @apply bg-white dark:bg-slate-950 text-black dark:text-white text-center;
}

.card {
    @apply p-8 bg-gray-200 dark:bg-slate-800 text-slate-600 dark:text-slate-300 rounded-3xl gap-4 shadow-lg dark:shadow-teal-950 dark:shadow;
}